footer {
  padding: 4.5rem 0rem;
  background: $primary_blue;
  color: $primary_white;

  hr {
    border: 0;
    border-top: 1px solid $primary_blue_light;
    margin: 2rem 0rem;
  }
  button {
    margin: 4rem 0rem;
    font-size: 1.6rem;
  }
}

.footer__upper {
  display: flex;
  justify-content: space-between;

  @include media('<=555px') {
    flex-direction: column;
    align-items: center;
  }

  &--left {
    margin: 0rem 1rem;

    img {
      width: 10rem;
    }
  }
  &--center {
    width: 70%;
    margin: 0rem 1rem;
    p {
      font-size: 1.6rem;
      color: $secondary_blue_light;
    }
  }
  &--right {
    margin: 0rem 1rem;
    ul {
      list-style: none;
      li {
        a {
          &:hover {
            color: $primary_white;
          }
          font-size: 1.8rem;
          color: $secondary_blue_light;
        }
        margin-bottom: 1.5rem;
      }
    }
  }
}

.footer__lower {
  p {
    font-size: 1.6rem;
    margin-top: 2.5rem;
    text-align: center;
  }
}
